.GoogleSiginInButton {
    background-color: #E4E7EB !important;
    color: #4B5768 !important;
    padding: 12px 0px !important;
    border-radius: 4px !important;
    max-width: 400px;
    width: 100%;
    font-size: 16px !important;
    font-weight: normal !important;
    &:hover {
        transition: transform 0.3s ease;
        transform: scale(1.03);
    }
    &:not(:hover) {
        transition: transform 0.3s ease;
        transform: scale(1);
    }
}