.SideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191919;
    width: 280px;
    padding: 48px 28px;
    .headerTitle {
        color: #fff;
        font-size: 18px;
        .boldText {
            font-weight: 800;
        }
    }
}